<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/navbar.css">
    <script src="../src/jquery.js"></script>
    <script src="../src/index.js"></script>
    <title></title>
</head>
<body>
    
    <nav>

        <input type="checkbox" id="check">

        <label for="check" class="check-btn">

            <i class="fa-solid fa-bars" style="color: #000000;"></i>

        </label>

        <a href="#" class="link">
            <img src="../images/chelsea.png" alt="" class="logo">
        </a>

        <ul>
            <li><a class="active" href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="#">Social Media</a></li>
        </ul>
       

    </nav>

    <section>

    </section>


    <script src="https://kit.fontawesome.com/7c8801c017.js" crossorigin="anonymous"></script>

</body>
</html>